[submodule "lib/perf_counter"]
	path = lib/perf_counter
	url = https://mirror.ghproxy.com/github.com/GorgonMeducer/perf_counter.git
[submodule "lib/plooc"]
	path = lib/plooc
	url = https://mirror.ghproxy.com/github.com/GorgonMeducer/PLOOC.git
